<label for="cars">Choose owner:</label>

<select
  [(ngModel)]="selectedOwnerId"
  (change)="onSelectionChange(selectedOwnerId)"
>
  <option *ngFor="let option of options" [value]="option.id">
    {{ option.name }}
  </option>
</select>
<br />
<p>
  <!-- {{ propertys() | json }} -->
</p>
<br />

<div *ngFor="let item of propertys()">
  <button (click)="propertySelected(item.id)">select</button> &nbsp;
  <span>{{ item.title }}</span>
</div>

<p>==============================</p>
<app-property></app-property>
<p>==============================</p>
<app-options></app-options>
<p>==============================</p>
<app-photo></app-photo>
